@{
    ViewData["Title"] = "Videos";
}

<div class="overlay">
    <section id="StoryPage">
        <div class="container-fluid">
            <div class="row mx-auto">
                <section class="row mx-auto">
                    <h1>O nascimento da øpio </h1>
                    <h2>O começo</h2>

                    <div class="row">
                        <p>
                            A banda Øpio surgiu em 2021, quando um casal de namorados (Enzo e Felipe) e também amigos de infância
                            acordaram com o desejo árduo de criar uma música que fosse mais do que apenas um som — queriam criar uma voz
                            para suas lutas e celebrações. Eles sempre foram apaixonados por música, mas sentiam falta de algo que
                            representasse suas próprias experiências e a de tantas outras pessoas da comunidade LGBTQIA+.

                            <div>
                                <img src="~/img/bandaopio5.jpg" class="col-12" alt="Enzo e Felipe">
                            </div>
                        </p>
                    </div>
                    
                    <div class="row">
                        <p>
                            Foi em uma noite de outono, durante um encontro em um bar local, que tiveram a ideia de formar uma banda
                            que unisse suas influências musicais diversas, como indie rock, pop e música eletrônica, para criar algo
                            novo e impactante. Com o nome Ópio, que remete à ideia de algo viciante e transformador, eles começaram a
                            compor canções que falassem sobre amor, aceitação e resistência. Hoje, o grupo é formado por Felipe, Enzo,
                            Ygor e Gustavo e, para também manter o espírito da marcha LGBTQIA+. vivo, continuam trabalhando na criação
                            de canções e versos ardentes.
                        </p>
                        <div>
                            <img src="~/img/bandaopio1.jpg" class="col-12" alt="Enzo e Felipe">
                        </div>
                    </div>               

                    <h2>Primeiro album</h2>
                    <div class="row"> </div>  


                    <h2>O que nos torna diferentes?</h2>
                    <div class="row">
                        <p>
                            Øpio se destacou e continua se destacando por suas letras que falam sobre o amor em todas as suas formas
                            e por seus shows que ofereciam um espaço seguro e acolhedor. A banda rapidamente conquistou o coração do
                            público, promovendo uma mensagem de inclusão e celebração da diversidade.
                        </p>
                    </div>
                </section>

            </div>
        </div>
    </section>
</div>