@{
    ViewData["Title"] = "Videos";
}

<div class="overlay">
    <section id="StoryPage">
        <div class="container-fluid">
            <div class="row mx-auto">
                <div class="row mx-auto">
                    <h1>O nascimento da banda øpio </h1>
                    <h2>O começo</h2>
                    <p>
                        Em uma metrópole pulsante e multicultural, um grupo de indivíduos de diferentes origens e
                        identidades se encontrou de uma maneira surpreendente. Cada um deles, em busca de expressão
                        e pertencimento, estava atravessando sua própria jornada pessoal quando o destino os reuniu
                        de uma forma inusitada.
                    </p>
                    <p>
                        Durante uma marcha pelos direitos LGBTQ+ na cidade de São Paulo, uma tempestade repentina começou a se formar.
                        Com o evento ao ar livre sendo ameaçado pelo mau tempo, os participantes se refugiaram em um antigo teatro 
                        próximo Enquanto a chuva caía lá fora, o teatro se transformou em um espaço improvisado para música. 
                        Cada um dos quatro integrantes chegou ao local por acaso, procurando abrigo. Logo, perceberam que tinham 
                        instrumentos e habilidades musicais em comum. Para animar a multidão, Felipe, Enzo, Ygor e Gustavo, 
                        para também manter o espírito da marcha vivo, decidiram improvisar uma apresentação.
                    </p>
                    <p>
                        Øpio se destacou e continua se destacando por suas letras que falam sobre o amor em todas as suas formas
                        e por seus shows que ofereciam um espaço seguro e acolhedor. A banda rapidamente conquistou o coração do
                        público, promovendo uma mensagem de inclusão e celebração da diversidade.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="~/js/pictures.js"></script>
