@{
    ViewData["Title"] = "Videos";
}

<div class="overlay">
    <div class="firstImage"></div>

    <section id="StoryArea">
        <div class="container-fluid">
            <div class="row mx-auto">
                <h1>O nascimento da øpio </h1>

                <div class="row">
                    <h2>O começo</h2>
                    <p>
                        A banda Øpio surgiu em meados de 2022, quando um casal de namorados (Enzo e Felipe) e também amigos de infância
                        acordaram com o desejo árduo de criar uma música que fosse mais do que apenas um som — queriam criar uma voz
                        para suas lutas e celebrações. Eles sempre foram apaixonados por música, mas sentiam falta de algo que
                        representasse suas próprias experiências e a de tantas outras pessoas da comunidade <span>LGBTQIA+.</span>
                    </p>
                </div>

                <div class="row">
                    <p>
                        Foi em uma noite de outono, durante um encontro em um bar local, que tiveram a ideia de formar uma banda
                        que unisse suas influências musicais diversas, como indie rock, pop e música eletrônica, para criar algo
                        novo e impactante. Com o nome Ópio, que remete à ideia de algo viciante e transformador, eles começaram a
                        compor canções que falassem sobre amor, aceitação e resistência. Hoje, o grupo é formado por Felipe, Enzo,
                        Ygor e Gustavo e, para também manter o espírito da marcha <span>LGBTQIA+.</span> vivo, continuam trabalhando na criação
                        de canções e versos ardentes.
                    </p>
                    <div>
                        <img src="~/img/bandaopio1.jpg" class="col-12 mb-5" alt="Enzo e Felipe">
                    </div>
                </div>

            </div>
        </div>
    </section>

    <div class="secondImage"></div>

    <section id="OurTeam">
        <div class="container-fluid">
            <h1>Nossa equipe</h1>
            <div class="row">
                <div class="row mx-auto container-team">
                    <img src="~/img/felipePaper(texture).png" class="col-6 mb-4" alt="">
                    <p class="glowFelipe">Felipe Takashi</p>
                    <div class="description-team">
                        <p>12 anos, 739 bocas beijadas, 27 mulheres namoradas e gosta de sonic shadow.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section id="AlbumArea">
        <div class="container-fluid">
            <div class="row">
                <div class="row mx-auto">
                    <h1>Primeiro álbum</h1>
                    <p>
                        <span>Ela (Desculpa) • Single 2022</span>
                        <br />
                        O primeiro Álbum foi escrito e composto por Romário (o jogador) a caminho da Praia,
                        em Osasco, São Paulo.
                        A música destaca uma das grandes experiências amorosas e em primeira pessoa de Felipe, o Vocalista,
                        após o término da relação com a 27° namorada consecutiva, Roberta Coração.
                    </p>
                    <img src="~/img/primeiroalbum4.png" class="col-12 mb-4" alt="Ela (Desculpa)">
                
                       
             </div>
            </div>
        </div>    
    </section>
    <div class="track">
        <iframe class="mb-4 mt-4" src="https://open.spotify.com/embed/track/0RFQjfkr2Weio70nDCNM69?utm_source=generator&theme=0" width="100%" height="352" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        <iframe class="mb-5" height="315" src="https://www.youtube.com/embed/nB7jWm4fYqU?si=CaQvx3VPncu9e8kl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <div class="thirdImage"></div>

    <section id="OurValues">
        <div class="container-fluid">
            <div class="row mx-auto">
                <div class="row mb-5">
                    <h1 class="mb-3">O que nos torna diferente?</h1>
                    <p>
                        Øpio se destacou e continua se destacando por suas letras que falam sobre o amor em todas as suas formas
                        e por seus shows que ofereciam um espaço seguro e acolhedor. A banda rapidamente conquistou o coração do
                        público, promovendo uma mensagem de inclusão e celebração da diversidade.
                    </p>
                </div>

                <div class="row col-12">

                    @* Card 1 *@
                    <div class="card">
                        <img src="~/img/Untitled (9).png" class="card-img-top" alt="valores da ópio.">
                        <div class="card-body">
                            <h5 class="card-title">Nossa missão</h5>
                            <p>
                                Queremos conectar as pessoas nos nossos shows, em todos eles. Queremos que você enquanto nos
                                se sinta bem, livre, despreocupado.<br />
                                "Romário te passas a bola, aceitas?"
                                <span>— Enzo.</span>
                            </p>
                        </div>
                    </div>

                    @* Card 2 *@
                    <div class="card">
                        <img src="~/img/felipe2.jpg" class="card-img-top" alt="valores da ópio.">
                        <div class="card-body">
                            <h5 class="card-title">Nossos valores</h5>
                            <p>
                                Garantimos que somos comprometidos em criar músicas que refletem quem realmente somos. 
                                Falamos o que queremos, no momento que escolhermos. Queremos ser felizes!<br />
                                "No palco, posso ser quem realmente eu sou, mano. Me sinto livre, mágico, como se pudesse sair voando."
                                <span>— Felipe Takashi.</span>
                            </p>
                        </div>
                    </div>

                    @* Card 3 *@
                    <div class="card">
                        <img src="~/img/section1.jpg" class="card-img-top" alt="valores da ópio.">
                        <div class="card-body">
                            <h5 class="card-title">Nossa motivação</h5>
                            <p>
                                Eu vim fazer um anúncio: Shadow, o ouriço, é um filho da puta. 
                                Ele mijou na minha esposa. É isso mesmo, ele pegou a porra do pau de ouriço dele
                                e mijou na porra da minha esposa e ainda disse que o pau dele era "grandããão" e eu disse:
                                "Cara! Isso é nojento!".
                                <span>— Eggman</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
