@{
    ViewData["Title"] = "Videos";
}

<div class="overlay">
    <div class="firstImage"></div>

    <section id="StoryArea">
        <div class="container-fluid">
            <div class="row mx-auto">
                <h1 class="text-center mb-5">O nascimento da øpio </h1>

                <div class="row">
                    <h2 class="text-center mb-4">O começo</h2>
                    <p>
                        A banda Øpio surgiu em meados de 2022, quando um casal de namorados (Enzo e Felipe) e também amigos de infância
                        acordaram com o desejo árduo de criar uma música que fosse mais do que apenas um som — queriam criar uma voz
                        para suas lutas e celebrações. Eles sempre foram apaixonados por música, mas sentiam falta de algo que
                        representasse suas próprias experiências e a de tantas outras pessoas da comunidade <span>LGBTQIA+.</span>
                    </p>
                </div>

                <div class="row">
                    <p>
                        Foi em uma noite de outono, durante um encontro em um bar local, que tiveram a ideia de formar uma banda
                        que unisse suas influências musicais diversas, como indie rock, pop e música eletrônica, para criar algo
                        novo e impactante. Com o nome Ópio, que remete à ideia de algo viciante e transformador, eles começaram a
                        compor canções que falassem sobre amor, aceitação e resistência. Hoje, o grupo é formado por Felipe, Enzo,
                        Ygor e Gustavo e, para também manter o espírito da marcha <span>LGBTQIA+.</span> vivo, continuam trabalhando na criação
                        de canções e versos ardentes.
                    </p>
                    <div>
                        <img src="~/img/bandaopio1.jpg" class="col-12 mb-5" alt="Foto da banda" loading="lazy">
                    </div>
                </div>

            </div>
        </div>
    </section>

    <div class="secondImage"></div>

    <section id="OurTeam">
        <div class="container-fluid">
            <h1 class="text-center">Nossa equipe</h1>
            
            @*Felipe*@
            <div class="row mb-5">
                <div class="row mx-auto">
                    <img src="~/img/felipePaper(texture).png" class="col-8 mb-4" alt="Felipe" loading="lazy">
                    <div class="description-team col-8">
                        <p class="glow felipe text-center">Felipe Takashi</p>
                        <p>12 anos, 739 bocas beijadas, 27 mulheres namoradas, faz cosplay de chaves e canta (às vezes) no banheiro.</p>
                    </div>
                </div>  
            </div>

            @*Enzo*@
            <div class="row mb-5">
                <div class="row container-end">
                    <img src="~/img/enzoPaper(texture).png" class="col-9 mb-4" alt="Enzo" loading="lazy">
                    <div class="description-team col-8">
                        <p class="glow enzo text-center">Enzo</p>
                        <p>17 anos, 1312 shows, casado, usa 4 batecas ao mesmo tempo e é o melhor bateirista da Øpio.</p>
                    </div>
                </div>
            </div>

            @*Ygor*@
            <div class="row mb-5">
                <div class="row mx-auto">
                    <img src="~/img/ygorPaper(texture).png" class="col-8 mb-4" alt="Ygor" loading="lazy">
                    <div class="description-team col-8">
                        <p class="glow ygor text-center">Ygor Leão</p>
                        <p>24 anos, Skatista des dos 2 anos, mulherengo, solista oficial da Øpio e gosta de Naruto Shippuden.</p>
                    </div>
                </div>

            </div>

            @*Gustavo*@
            <div class="row mb-5">
                <div class="row container-end">
                    <img src="~/img/gustavoPaper(texture).png" class="col-8 mb-4" alt="Gustavo" loading="lazy">
                    <div class="description-team col-8">
                        <p class="glow gustavo text-center">Gustavo</p>
                        <p>28 anos, imigrante ilegal, solteiro, toca 732 instrumento diferentes e é o asiático mais bonito da Øpio.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="AlbumArea">
        <div class="container-fluid">
            <div class="row">
                <div class="row mx-auto">
                    <h1 class="text-center mb-4">Primeiro álbum</h1>
                    <p>
                        <span class="text-center">Ela (Desculpa) • Single 2022</span>
                        <br />
                        O primeiro Álbum foi escrito e composto por Romário (o jogador) a caminho da Praia,
                        em Osasco, São Paulo.
                        A música destaca uma das grandes experiências amorosas e em primeira pessoa de Felipe, o Vocalista,
                        após o término da relação com a sua 27° namorada consecutiva, Roberta Coração.
                    </p>
                    <img src="~/img/primeiroalbum.png" class="col-12 mb-4" alt="Ela (Desculpa)" loading="lazy">
                
                       
             </div>
            </div>
        </div>    
    </section>
    <div class="track">
        <iframe class="mb-4 mt-4" src="https://open.spotify.com/embed/track/0RFQjfkr2Weio70nDCNM69?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        <iframe class="mb-5" height="315" src="https://www.youtube.com/embed/nB7jWm4fYqU?si=CaQvx3VPncu9e8kl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen loading="lazy"></iframe>
    </div>

    <div class="thirdImage"></div>

    <section id="OurValues">
        <div class="container-fluid">
            <div class="row mx-auto">
                <div class="row mb-5">
                    <h1 class="mb-3 text-center">O que nos torna diferente?</h1>
                    <p>
                        Øpio se destacou e continua se destacando por suas letras que falam sobre o amor em todas as suas formas
                        e por seus shows que ofereciam um espaço seguro e acolhedor. A banda rapidamente conquistou o coração do
                        público, promovendo uma mensagem de inclusão e celebração da diversidade.
                    </p>
                </div>

                <div class="row col-12">

                    @* Card 1 *@
                    <div class="card mb-4">
                        <img src="~/img/Untitled (9).png" class="card-img-top" alt="Missão da ópio." loading="lazy">
                        <div class="card-body">
                            <h5 class="card-title text-center">Nossa missão</h5>
                            <p>
                                Queremos conectar as pessoas nos nossos shows, em todos eles. Queremos que você enquanto nos
                                escuta se sinta bem, livre, despreocupado.<br />
                                "Romário te passas a bola, aceitas?"
                                <span>— Enzo.</span>
                            </p>
                        </div>
                    </div>

                    @* Card 2 *@
                    <div class="card mb-4">
                        <img src="~/img/felipe2.jpg" class="card-img-top" alt="Valores da ópio." loading="lazy">
                        <div class="card-body">
                            <h5 class="card-title text-center">Nossos valores</h5>
                            <p>
                                Garantimos que somos comprometidos em criar músicas que refletem quem realmente somos. 
                                Falamos o que queremos, no momento que escolhermos. Queremos ser felizes!<br />
                                "No palco, posso ser quem realmente eu sou, mano. Me sinto livre, mágico, como se pudesse sair voando."
                                <span>— Felipe Takashi.</span>
                            </p>
                        </div>
                    </div>

                    @* Card 3 *@
                    <div class="card mb-4">
                        <img src="~/img/bandaopio1.jpg" class="card-img-top" alt="Motivação da ópio." loading="lazy">
                        <div class="card-body">
                            <h5 class="card-title text-center">Nossa motivação</h5>
                            <p>
                                Eu vim fazer um anúncio: Shadow, o ouriço, é um filho da puta. 
                                Ele mijou na minha esposa. É isso mesmo, ele pegou a porra do pau de ouriço dele
                                e mijou na porra da minha esposa e ainda disse que o pau dele era "grandããão" e eu disse:
                                "Cara! Isso é nojento!".
                                <span>— Eggman</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="Conclusion">
        <div class="container-fluid">
            <div class="row mx-auto">
                <h1 class="mb-3 text-center">Para os nossos fãs:</h1>
                <p>
                    O Naruto pode ser um pouco duro às vezes, talvez você não saiba disso, mas o Naruto também cresceu
                sem pai. Na verdade, ele nunca conheceu nenhum de seus pais, e nunca teve nenhum amigo em nossa aldeia.
                Mesmo assim eu nunca vi ele chorar, ficar zangado ou se dar por vencido, ele está sempre disposto a 
                melhorar, ele quer ser respeitado, é o sonho dele e o Naruto daria a vida por isso sem hesitar. 
                Meu palpite é que ele se cansou de chorar e decidiu fazer alguma coisa a respeito!
                 <br/>
                A fala é dita durante uma missão contra Zabuza e Haku, no episódio 12 (Saga Clássica). Inari estava
                muito zangado com Naruto, e então Kakashi tenta explicar para ele o porquê do Naruto ser tão duro com
                as pessoas. </p>

                <div class="row col-12 mb-5">   
                    <img src="~/img/bandaopio6.jpg" alt="Obrigado por nos visitar" loading="lazy" w-100>
                </div>

                <h1 class="mb-3 text-center">Obrigado por nos visitar!</h1>
            </div>
        </div>
    </section>
</div>
