/*#region global*/
@font-face {
    font-family: Aargh;
    src: url('../font/Aargh! W00 Heavy.ttf');
}

@font-face {
    font-family: Caroline;
    src: url('../font/Carolineluxury.otf');
}

@font-face {
    font-family: Monckeberg;
    src: url('../font/MonckebergAlt-Normal.ttf');
}

/*VARIABLES*/

:root { /*Custom variables to build design*/
    /*global colors*/
    --color-primary-black: #000000;
    --color-primary-white: #ffffff;
    --color-primary-section: #1d1c21;
    /**/
    /*global fonts*/
    --font-title: 'Caroline';
    --font-team-body: 'Times New Roman', serif;
    /**/
    /*NAVBAR*/
    /*    --color-primary: #151313;*/
    --color-navbar-text: #e8e8e8;
    --color-navbar-togglerIcon: white;
    --color-navbar-text-hover: #a6140a;
    /**/
    /*TEAM*/
    --color-team-description: rgba(255, 20, 147, 0.8);

    /**/
}

/*ENDVARIABLES*/


html {
    font-size: 62.5%;
    scroll-behavior: smooth !important;
    height: 100%;
}


body {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
}

* {
}

.container-fluid {
    padding: 0;
    margin: 0;
    overflow: hidden;
}


footer {
    z-index: 1000;
}

header {
    z-index: 1000;
}

.intersectionDiv img {
    height: 30vh;
    width: 100%;
}   


/*#endregion*/
/*#region navbar*/
.navbarCustom { /*Custom properties of my navbar*/
    /*background-color: var(--color-navbar);*/
    background-color: transparent;
    border: none !important;
    width: 100%;
    height: 10vh;
    position: absolute;
    padding: 0 !important;
    margin: 0 !important;
    z-index: 1000;
}

.logoDiv {
    width: 22vh;
    height: 8vh;
}

    .logoDiv > a {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../img/logobranca.png);
        background-position: center;
        height: 100%;
        width: 100%;
    }

.columnVideo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*#endregion*/

/*#region animations*/

/*neonGlow-felipe*/
@keyframes neonGlow-felipe {
    0%, 19.9%, 21%, 23.9%, 25%, 45.9%, 47%, 49.9%, 51%, 53.9%, 55%, 75.9%, 77%, 79.9%, 81%, 83.9%, 85%, 99.9%, 100% {
        box-shadow: 0 0 0px rgba(255, 0, 255, 0.9), 0 0 5px rgba(255, 0, 255, 0.7), 0 0 10px rgba(255, 0, 255, 0.6), 0 0 15px rgba(255, 0, 255, 0.5), 0 0 20px rgba(255, 0, 255, 0.4), 0 0 25px rgba(255, 0, 255, 0.3), 0 0 30px rgba(255, 0, 255, 0.2);
    }

    20%, 22%, 24%, 46%, 48%, 50%, 52%, 54%, 76%, 78%, 80%, 82%, 84%, 86%, 87%, 88%, 89%, 90%, 91%, 92%, 93%, 94%, 95%, 96%, 97%, 98% {
        box-shadow: 0 0 10px rgba(255, 0, 255, 0.7), 0 0 15px rgba(255, 0, 255, 0.7), 0 0 20px rgba(255, 0, 255, 0.6), 0 0 25px rgba(255, 0, 255, 0.5), 0 0 30px rgba(255, 0, 255, 0.4), 0 0 35px rgba(255, 0, 255, 0.3), 0 0 40px rgba(255, 0, 255, 0.2), 0 0 30px rgba(255, 0, 255, 0.1);
    }
}

@keyframes neonGlow-gato {
    0%, 19.9%, 21%, 23.9%, 25%, 45.9%, 47%, 49.9%, 51%, 53.9%, 55%, 75.9%, 77%, 79.9%, 81%, 83.9%, 85%, 99.9%, 100% {
        box-shadow: 0 0 0px rgba(0, 185, 165, 0.9), 0 0 5px rgba(0, 185, 165, 0.7), 0 0 10px rgba(0, 185, 165, 0.6), 0 0 15px rgba(0, 185, 165, 0.5), 0 0 20px rgba(0, 185, 165, 0.4), 0 0 25px rgba(0, 185, 165, 0.3), 0 0 30px rgba(0, 185, 165, 0.2);
    }

    20%, 22%, 24%, 46%, 48%, 50%, 52%, 54%, 76%, 78%, 80%, 82%, 84%, 86%, 87%, 88%, 89%, 90%, 91%, 92%, 93%, 94%, 95%, 96%, 97%, 98% {
        box-shadow: 0 0 10px rgba(0, 185, 165, 0.7), 0 0 15px rgba(0, 185, 165, 0.7), 0 0 20px rgba(0, 185, 165, 0.6), 0 0 25px rgba(0, 185, 165, 0.5), 0 0 30px rgba(0, 185, 165, 0.4), 0 0 35px rgba(0, 185, 165, 0.3), 0 0 40px rgba(0, 185, 165, 0.2), 0 0 30px rgba(0, 185, 165, 0.1);
    }
}


@keyframes neonGlow-enzo {
    0%, 19.9%, 21%, 23.9%, 25%, 45.9%, 47%, 49.9%, 51%, 53.9%, 55%, 75.9%, 77%, 79.9%, 81%, 83.9%, 85%, 99.9%, 100% {
        box-shadow: 0 0 0px rgba(255, 20, 147, 0.9), 0 0 5px rgba(255, 20, 147, 0.7), 0 0 10px rgba(255, 20, 147, 0.6), 0 0 15px rgba(255, 20, 147, 0.5), 0 0 20px rgba(255, 20, 147, 0.4), 0 0 25px rgba(255, 20, 147, 0.3), 0 0 30px rgba(255, 20, 147, 0.2);
    }

    20%, 22%, 24%, 46%, 48%, 50%, 52%, 54%, 76%, 78%, 80%, 82%, 84%, 86%, 87%, 88%, 89%, 90%, 91%, 92%, 93%, 94%, 95%, 96%, 97%, 98% {
        box-shadow: 0 0 10px rgba(255, 20, 147, 0.7), 0 0 15px rgba(255, 20, 147, 0.7), 0 0 20px rgba(255, 20, 147, 0.6), 0 0 25px rgba(255, 20, 147, 0.5), 0 0 30px rgba(255, 20, 147, 0.4), 0 0 35px rgba(255, 20, 147, 0.3), 0 0 40px rgba(255, 20, 147, 0.2), 0 0 30px rgba(255, 20, 147, 0.1);
    }
}


@keyframes neonGlow-ygor {
    0%, 19.9%, 21%, 23.9%, 25%, 45.9%, 47%, 49.9%, 51%, 53.9%, 55%, 75.9%, 77%, 79.9%, 81%, 83.9%, 85%, 99.9%, 100% {
        box-shadow: 0 0 0px rgba(0, 255, 255, 0.9), 0 0 5px rgba(0, 255, 255, 0.7), 0 0 10px rgba(0, 255, 255, 0.6), 0 0 15px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.4), 0 0 25px rgba(0, 255, 255, 0.3), 0 0 30px rgba(0, 255, 255, 0.2);
    }

    20%, 22%, 24%, 46%, 48%, 50%, 52%, 54%, 76%, 78%, 80%, 82%, 84%, 86%, 87%, 88%, 89%, 90%, 91%, 92%, 93%, 94%, 95%, 96%, 97%, 98% {
        box-shadow: 0 0 5px rgba(0, 255, 255, 0.7), 0 0 10px rgba(0, 255, 255, 0.7), 0 0 15px rgba(0, 255, 255, 0.6), 0 0 20px rgba(0, 255, 255, 0.5), 0 0 25px rgba(0, 255, 255, 0.4), 0 0 30px rgba(0, 255, 255, 0.3), 0 0 35px rgba(0, 255, 255, 0.2), 0 0 30px rgba(0, 255, 255, 0.1);
    }
}


@keyframes neonGlow-gustavo {
    0%, 19.9%, 21%, 23.9%, 25%, 45.9%, 47%, 49.9%, 51%, 53.9%, 55%, 75.9%, 77%, 79.9%, 81%, 83.9%, 85%, 99.9%, 100% {
        box-shadow: 0 0 0px rgba(255, 69, 0, 0.9), 0 0 5px rgba(255, 69, 0, 0.7), 0 0 10px rgba(255, 69, 0, 0.6), 0 0 15px rgba(255, 69, 0, 0.5), 0 0 20px rgba(255, 69, 0, 0.4), 0 0 25px rgba(255, 69, 0, 0.3), 0 0 30px rgba(255, 69, 0, 0.2);
    }

    20%, 22%, 24%, 46%, 48%, 50%, 52%, 54%, 76%, 78%, 80%, 82%, 84%, 86%, 87%, 88%, 89%, 90%, 91%, 92%, 93%, 94%, 95%, 96%, 97%, 98% {
        box-shadow: 0 0 5px rgba(255, 69, 0, 0.7), 0 0 10px rgba(255, 69, 0, 0.7), 0 0 15px rgba(255, 69, 0, 0.6), 0 0 20px rgba(255, 69, 0, 0.5), 0 0 25px rgba(255, 69, 0, 0.4), 0 0 30px rgba(255, 69, 0, 0.3), 0 0 35px rgba(255, 69, 0, 0.2), 0 0 30px rgba(255, 69, 0, 0.1);
    }
}


@keyframes neonGlow-Text {
    from {
        text-shadow: 0 0 5px var(--color-team-description), 0 0 10px var(--color-team-description), 0 0 15px var(--color-team-description), 0 0 20px var(--color-team-description), 0 0 25px rgba(255, 20, 147, 0.5), 0 0 30px rgba(255, 20, 147, 0.4), 0 0 35px rgba(255, 20, 147, 0.3);
    }

    to {
        text-shadow: 0 0 10px var(--color-team-description), 0 0 20px var(--color-team-description), 0 0 30px var(--color-team-description), 0 0 40px var(--color-team-description), 0 0 50px rgba(255, 20, 147, 0.5), 0 0 60px rgba(255, 20, 147, 0.4), 0 0 70px rgba(255, 20, 147, 0.3);
    }
}

@keyframes neonGlow-Button {
    0%, 16%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
        color: #0e3742;
        text-shadow: none;
    }

    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4, 0 0 80px #03bcf4, 0 0 160px #03bcf4
    }
}

@keyframes pokeFinger {
    0%, 20%, 40%, 100% {
        transform: translateX(-0);
        
    }

    10%, 30% {
        transform: translateX(0.5em);
        opacity: 1;
    }
}



/*#endregion*/


/*Responsive options (testing)*/

/*#region mobile*/
@media (max-width: 576px) {

    /*#region navbar*/
    /*NAVBAR CONTENT, ICONS, ETC*/
    .navbar-dark .navbar-toggler-icon { /*used to change the toggle icon color (only work if do this)*/
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .navbarCustom {
        position: fixed;
        transition: background-color 0.5s ease;
        box-shadow: none !important;
    }

    .navbarScrolled {
        background-color: var(--color-primary-black);
    }

    .custom-toggler {
        margin-right: 0.5vh;
        border: none;
        outline: none;
        color: var(--color-primary-white);
        font-size: 1.43em;
        font-weight: bold;
        font-family: var(--font-title);
    }

    .navbar-collapse {
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
        transition: all 0.3s ease-out;
        opacity: 0;
    }

        .navbar-collapse.show {
            opacity: 1;
        }

    .navbar-nav {
        position: fixed;
        right: 0;
        width: 25%;
    }

    .navbarCustomLinks {
        color: var(--color-navbar-text) !important;
        opacity: 0;
        transform: translateY(-20px);
        transition: transform 0.3s ease-out, opacity 0.3s ease-out;
        color: var(--color-primary-white);
        text-align: end;
        margin-right: 2em;
        font-size: 1.28em;
    }

    .navbar-collapse.show .navbarCustomLinks {
        transform: translateY(0);
        opacity: 1;
    }

    .navbarCustomLinks:hover {
        color: var(--color-navbar-text-hover) !important;
        opacity: 1.0;
        font-size: 1.1em;
    }
    /*#endregion*/

    /*#region overlay*/
    .overlay { /*Blur effect*/
        filter: none;
        opacity: 1;
    }

    .shadowOverlay { /*Shadow effect*/
        background-color: rgba(0, 0, 0, 0.55);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: 999;
        opacity: 0;
        transition: 0.9s ease;
        pointer-events: none;
    }
    /*#endregion*/

    /*#region #Home*/

    #Home {
    }
    /*#endregion*/

    /*#region Video*/
    .columnVideo {
        height: 82vh;
        padding: 0 !important;
        margin: 0 !important;
    }

    /*#endregion*/

    /*#region OurTeam*/
    section#Team {
        width: 100%;
        position: relative;
        top: -2.7em;
        z-index: 2;
        font-family: var(--font-team-body);
    }
        section#Team h2 {
            font-size: 2.8em !important;
            text-transform: uppercase;
            font-weight: bold;
            font-family: var(--font-title);
            text-align: center;
            margin-bottom: 0.7em;
            transform: translateY(-0.7em);
            opacity: 0;
            transition: opacity 0.7s ease, transform 0.7s ease;
            /*testing*/
            color: var(--color-team-description);
            animation: neonGlow-Text 1.5s ease-in-out infinite alternate;
        }

        /* Animação para simular o brilho pulsante */

        section#Team p {
            font-size: 1.67em;
            text-align: justify;
            margin-bottom: 1.1em;
            transform: translateY(-0.7em);
            opacity: 0;
            transition: opacity 0.7s ease, transform 0.7s ease;
            color: var(--color-primary-white);
        }

        section#Team a {
            font-size: 1.9em;
            color: var(--color-team-pinkshock);
            text-decoration: none;
            color: var(--color-team-description);
            transform: translateY(-0.7em);
            opacity: 0;
            transition: opacity 0.7s ease, transform 0.7s ease;
            animation: neonGlow-Text 1.5s ease-in-out infinite alternate;
        }

        section#Team span {
            font-size: 0.9em;
            animation: neonGlow-Text 1.5s ease-in-out infinite alternate;
        }


    /*PICTURES AREA*/
    .tranding-slide {
        width: 28rem !important;
        height: 39rem !important;
        margin-bottom: 1em;
    }

        .tranding-slide .tranding-slide-img img {
            width: 28rem !important;
            height: 36rem !important;
            margin-top: 0.5em;
            object-fit: cover;
            filter: grayscale(100%);
            transition: filter 0.9s ease;
        }

    .swiper-slide-active .tranding-slide-img img {
        filter: none !important;
    }

    section#Team .activated {
        transform: translateY(0);
        opacity: 1;
    }

    #Team .swiper-pagination .swiper-pagination-bullet {
        background: var(--color-primary-white);
    }

    #Team .swiper-pagination .swiper-pagination-bullet-active {
        background: var(--color-primary-white);
    }

    .swiper-slide-shadow-left,
    .swiper-slide-shadow-right {
        display: none;
    }



    .aboutMember {
        position: relative;
        top: -5.3em;
        padding: 2em;
        padding-top: 6em;
        background-color: var(--color-primary-section);
    }
    /*#endregion*/

    /*#region Story*/
    #Story{
        width: 100%;
    }

        #Story .rowStory {
            padding: 1.2em 2em;
        }

    .imgStory {
        width: 100%;
    }


    #Story h1 {
        font-family: Monckeberg;
        font-size: 1.7em;
        margin-top: 0.5em;
        text-transform: uppercase;
        margin-bottom: 0.6em;
        font-weight: bold;
    }

    #Story h1 span {
        font-size: 1.7em;
    }

    #Story p {
        font-size: 1.70em;
        font-family: 'Times New Roman', Times, serif;
        color: rgba(146, 146, 146, 1)
    }

        #Story p:last-of-type {
            text-transform: uppercase;
            font-size: 1.5em;
            font-weight: bold;
            color: rgba(126, 126, 126, 1)
        }
            #Story p:last-of-type span {
                color: rgb(167,116,182);
            }


    .button-container {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
    }
        .button-container button {
            width: 32%;
            margin-top: 0.5em;
            padding: 0.5em;
            background-color: var(--color-primary-black);
            font-family: Monckeberg;
            font-size: 1.5em;
            font-family: 'Times New Roman';
            font-weight: bold;
            opacity: 0.87;
            color: rgba(0, 255, 255, 0.9);
            border: none;
        }

        .button-container .imgFinger {
            width: 18%;
            opacity: 0;
        }

            /*#endregion*/




    /*#region footer*/
            footer {
                background-color: var(--color-primary-black);
                color: var(--color-primary-white);
                font-size: 1.1em;
            }

    /*#endregion*/

/*#endregion*/

/*#region Tablets*/
    @media (min-width: 577px) and (max-width: 992px) {
        .columnVideo {
            height: 50vh;
            background-color: var(--color-navbar);
        }
    }
/*#endregion*/

/*#region desktop*/
    @media (min-width: 993px) {

        .columnVideo {
            height: 100vh;
            background-color: var(--color-primary-black) !important;
            display: flex;
            /*align-items: center;*/
            justify-content: center;
        }

        .navbarCustomLinks { /* Custom properties to "a" links.*/
            color: var(--color-navbar-text) !important;
            font-size: 1.3em;
            transition: color 0.3s ease, font-size 0.3s ease;
        }

            .navbarCustomLinks:hover {
                color: var(--color-navbar-text-hover) !important;
                font-size: 1.4em;
            }
    }
/*#endregion*/