/*#region global*/
@font-face {
    font-family: Aargh;
    src: url('../font/Aargh! W00 Heavy.ttf');
}

@font-face {
    font-family: Caroline;
    src: url('../font/Carolineluxury.otf');
}

/*VARIABLES*/

:root { /*Custom variables to build design*/
    /*global colors*/
    --color-primary-black: #000000;
    --color-primary-white: #ffffff;
    /**/
    /*global fonts*/
    --font-title: 'Caroline';
    --font-team-body: 'Times New Roman', serif;
    /**/
    /*NAVBAR*/
    /*    --color-primary: #151313;*/
    --color-navbar-text: #e8e8e8;
    --color-navbar-togglerIcon: white;
    --color-navbar-text-hover: #a6140a;
    /**/
    /*TEAM*/
    --color-team-h2: #20598D;
    /**/
}

/*ENDVARIABLES*/


html {
    font-size: 62.5%;
    scroll-behavior: smooth !important;
    position: relative;
}


body {
    padding: 0 !important;
    margin: 0 !important;
}

* {
}

.container-fluid {
    padding: 0;
    margin: 0;
    overflow: hidden;
}


footer {
    z-index: 1000;
}

header {
    z-index: 1000;
}

.section-heading {
    width: 100%;
    height: 9vh;
    display: flex;
    align-items: center;
}

    .section-heading > div {
        background-color: #AD2F37;
        height: 100%;
        width: 80%;
        box-shadow: rgba(0, 0, 0, 0.84) 6px 0px 6px;
        z-index: 2;
        display: flex; /* Adicionado para centralizar o texto verticalmente */
        align-items: center; /* Adicionado para centralizar o texto verticalmente */
        justify-content: center; 
    }

    .section-heading > div h1 {
        font-size: 4em;
        color: var(--color-primary-white);
    }

    .section-heading img {
        height: 100%;
        width: 40%;
        object-fit: cover;
    }




/*#endregion*/

/*#region navbar*/
.navbarCustom { /*Custom properties of my navbar*/
    /*background-color: var(--color-navbar);*/
    background-color: transparent;
    border: none !important;
    width: 100%;
    height: 10vh;
    position: absolute;
    padding: 0 !important;
    margin: 0 !important;
    z-index: 1000;
}

.logoDiv {
    width: 22vh;
    height: 8vh;
}

    .logoDiv > a {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../img/logobranca.png);
        background-position: center;
        height: 100%;
        width: 100%;
    }

.columnVideo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*#endregion*/


/*Responsive options (testing)*/

/*#region mobile*/
@media (max-width: 576px) {

    /*NAVBAR CONTENT, ICONS, ETC*/
    .navbar-dark .navbar-toggler-icon { /*used to change the toggle icon color (only work if do this)*/
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .navbarCustom {
        position: fixed;
        transition: background-color 0.5s ease;
        box-shadow: none !important;
    }

    .navbarScrolled {
        background-color: var(--color-primary-black);
    }

    .overlay { /*Blur effect*/
        height: 100%;
        width: 100%;
        filter: none;
        transition: 0.9s ease;
        z-index: 999;
    }

    .shadowOverlay { /*Shadow effect*/
        background-color: rgba(0, 0, 0, 0.55);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: 999;
        opacity: 0;
        transition: 0.9s ease;
        pointer-events: none;
    }

    .custom-toggler {
        margin-right: 0.5vh;
        border: none;
        outline: none;
        color: var(--color-primary-white);
        font-size: 1.20em;
        font-weight: bold;
        font-family: var(--font-title);
    }

    .navbar-collapse {
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
        transition: all 0.3s ease-out;
        opacity: 0;
    }

        .navbar-collapse.show {
            opacity: 1;
        }

    .navbar-nav {
        position: fixed;
        right: 0;
        width: 25%;
        border: solid red 2px;
    }

    .navbarCustomLinks {
        color: var(--color-navbar-text) !important;
        opacity: 0;
        transform: translateY(-20px);
        transition: transform 0.3s ease-out, opacity 0.3s ease-out;
        color: var(--color-primary-white);
        text-align: end;
        margin-right: 2em;
        font-size: 1.28em;
    }

    .navbar-collapse.show .navbarCustomLinks {
        transform: translateY(0);
        opacity: 1;
    }

    .navbarCustomLinks:hover {
        color: var(--color-navbar-text-hover) !important;
        opacity: 1.0;
        font-size: 1.1em;
    }
    /**/

    #Home {
        position: relative;
        z-index: 1;

    }

    /*VIDEO AREA*/
    .columnVideo {
        height: 82vh;
        background-color: var(--color-primary-black);
        padding: 0 !important;
        margin: 0 !important;
    }

    /**/


    /*OUR TEAM*/
    section#team {
        height: 80vh;
        width: 100%;
        position: relative;
        z-index: 2;
        font-family: var(--font-team-body);
        margin-top: 1em;
    }

        section#team h2 {
            font-size: 2.3em !important;
            text-transform: uppercase;
            color: var(--color-team-h2);
            font-weight: bold;
            font-family: var(--font-title);
        }

        section#team p {
            font-size: 1.3em;
        }

        section#team a {
            font-size: 1.4em;
            color: var(--color-team-h2);
            text-decoration: none;
        }

        section#team span {
            font-size: 0.9em;
        }


    /*PICTURES AREA*/

    .tranding-slide {
        width: 28rem !important;
        height: 39rem !important;
        position: relative;
    }

        .tranding-slide .tranding-slide-img img {
            width: 28rem !important;
            height: 36rem !important;
            border-radius: 2rem;
            object-fit: cover;
            filter: grayscale(100%);
            transition: filter 0.9s ease, box-shadow 0.9s ease;
        }

    .swiper-slide-active .tranding-slide-img img {
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
        filter: none;
    }   

    .person-name {
        color: white !important;
        font-weight: bolder !important;
    }


    #team .swiper-pagination .swiper-pagination-bullet-active {
        background: var(--color-primary-black);
    }

    .swiper-slide-shadow-left,
    .swiper-slide-shadow-right {
        display: none;
    }
    /**/





    /*FOOTER AREA*/
    footer {
        background-color: var(--color-primary-black);
        color: var(--color-primary-white);
        font-size: 1.1em;
    }
    /**/

    /*#endregion*/


    /*#region Tablets*/
    @media (min-width: 577px) and (max-width: 992px) {
        .columnVideo {
            height: 50vh;
            background-color: var(--color-navbar);
        }
    }

    /*#endregion*/


    /*#region desktops and laptops*/
    @media (min-width: 993px) {

        .columnVideo {
            height: 100vh;
            background-color: var(--color-primary-black) !important;
            display: flex;
            /*align-items: center;*/
            justify-content: center;
        }

        .navbarCustomLinks { /* Custom properties to "a" links.*/
            color: var(--color-navbar-text) !important;
            font-size: 1.3em;
            transition: color 0.3s ease, font-size 0.3s ease;
        }

            .navbarCustomLinks:hover {
                color: var(--color-navbar-text-hover) !important;
                font-size: 1.4em;
            }
    }

    /*/*#endregion*/
