@{
    ViewData["Title"] = "Videos";
}

<div class="overlay">
    <section id="Videos" class="col-12">
        <div class="container-fluid">

            <div class="row toggleFilter">

                <div class="col-4 justify-content-center">
                    <button id="youtubeButton" class="icon-button">
                        <i class="fa-brands fa-youtube activatedFilter" onclick="toggleFilterFunction(event)"></i>
                    </button>
                </div>

                <div class="col-4 justify-content-center align-center">
                    <button id="instagramButton" class="icon-button">
                        <i class="fa-brands fa-instagram" onclick="toggleFilterFunction(event)"></i>
                    </button>
                </div>

                <div class="col-4 justify-content-center">
                    <button class="icon-button">
                        <i class="fa-regular fa-heart fa-brands" onclick="toggleFilterFunction(event)"></i>
                    </button>
                </div>
            </div>
                
            <div class="row">
                <div id="channel-videos" class="lazyColumn fadeTransition"></div>
                <div id="instagram-videos" class="lazyColumn fadeTransition"></div>
                <div id="favorite-videos" class="lazyColumn row mx-auto fadeTransition"></div>
            </div>
            


        </div>

    </section>
</div>


<script src="~/js/videos.js"></script>
<script>
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
</script>
<script async src="//www.instagram.com/embed.js"></script>
