@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col columnVideo">
            <video autoplay muted class="videoTopper"> <source src="video/øpio - Ditados Mentem (Ao Vivo).mp4" type="video/mp4"> </video>
        </div>

    </div>

</div>
<section></section>
<section></section>
<section></section>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


