@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>


<div class="overlay">
    <section id="Home">
        <div class="container-fluid">
            <div class="row">
                <div class="col columnVideo">
                    <video loop autoplay muted playsinline preload="auto" poster="~/img/This Is ØPIO.webp">
                        <source src="~/video/OcarataempolgadoHome.webm" type="video/webm">
                        Seu navegador não suporta a reprodução de vídeos.
                    </video>
                </div>
                <div class="col columnIcons">
                    <a href="https://open.spotify.com/intl-pt/artist/3TFDfV2km0JB0KRWyEXW5a?go=1&sp_cid=1494ab4d0c4d39e75ef31340e358b7cc&utm_source=embed_player_p&utm_medium=desktop&nd=1&dlsi=7085b034a1864c21" target="_blank"><i class="fa-brands fa-spotify"></i></a>
                    <a href="https://www.youtube.com/%40bandaopio" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                    <a href="https://www.instagram.com/banda.opio/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                </div>
                
            </div>

        </div>
    </section>


    <section id="Team">
        <div class="container-fluid">
            <div class="swiper tranding-slider">
                <div class="swiper-wrapper">
                    <!-- Slide-start -->
                    <div class="swiper-slide tranding-slide">
                        <div class="tranding-slide-img">
                            <img src="~/img/felipe.webp" id="felipe" alt="Felipe" loading="lazy">
                        </div>
                    </div>
                    <!-- Slide-end -->
                    <!-- Slide-start -->
                    <div class="swiper-slide tranding-slide">
                        <div class="tranding-slide-img">
                            <img src="~/img/enzo.webp" id="enzo" alt="Enzo" loading="lazy">
                        </div>
                    </div>
                    <!-- Slide-end -->
                    <!-- Slide-start -->
                    <div class="swiper-slide tranding-slide">
                        <div class="tranding-slide-img">
                            <img src="~/img/ygor.webp" id="ygor" alt="Ygor" loading="lazy">
                        </div>
                    </div>
                    <!-- Slide-end -->
                    <!-- Slide-start -->
                    <div class="swiper-slide tranding-slide">
                        <div class="tranding-slide-img">
                            <img src="~/img/gustavo.webp" id="gustavo" alt="Gustavo" loading="lazy">
                        </div>
                    </div>
                    <!-- Slide-end -->

                </div>

                <div class="swiper-pagination"></div>
            </div>

            <div class="aboutMember">
                <h2></h2>
                <p></p>
                <a href="" target="_blank">Conheça-me <span><i class="fa-solid fa-arrow-up-right-from-square"></i></span></a>
            </div>

        </div>

        <div id="fixDiv"></div>
    </section>

          
    <section id="Story">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <img src="~/img/bandaopio6.webp" class="imgStory w-100" alt="Foto da banda" loading="lazy">
                </div>
            </div>
            <div class="row rowStory">
                <h1><span>øpio:</span><br />Conheça-nos!</h1>
                <p>
                    Øpio é uma banda que se destaca não só pela sua musicalidade, mas também pelo seu ativismo. Suas canções são hinos de celebração e luta pela igualdade e
                    direitos da comunidade LGBTQIA+. Com uma sonoridade que mistura indie rock, pop e elementos eletrônicos, øpio cria uma atmosfera sonora envolvente e cheia de significado.
                    Cada apresentação é uma declaração de amor, aceitação e resistência.
                </p>

                <p>
                    – uma banda onde a música e a magia se encontram para fazer você, querido ouvinte, <span>sair do armário!</span> –
                </p>

                <div class="button-container">
                    <a id="buttonLeiaMais" asp-area="" asp-controller="Story" asp-action="Story">
                        LEIA MAIS!
                    </a>

                    <img src="~/img/neonfinger.webp" class="imgFinger" alt="Finger pointing">
                </div>

            </div>
        </div>
    </section>


    <section id="Spotify">
        <div class="container-fluid">
            <div class="row text-center">
                <h1>Nossas recomendações</h1>
            </div>       
                @* Albuns *@
                <div class="row mx-auto text-center">

                <a href="https://open.spotify.com/intl-pt/album/1fT5c6Rhyh0Rvwk20ueV3F?si=UHlJZbptRjC3pZHBRtrmbg" target="_blank" class="albuns-card col-6">
                    <div class="albuns-card-img">
                        <div class="d-block w-100 h-100 newAlbum row align-center justify-content-center">
                            <i class="fa-sharp-duotone fa-solid fa-lock" style="--fa-primary-color: #ffffff; --fa-secondary-color: #d4d4d4; --fa-secondary-opacity: 1;"></i>
                        </div>
                    </div>
                    <div class="albuns-description">
                        <p>Em breve!</p>
                        <p>Novo álbum • (2024) </p>
                    </div>
                </a>

                <a href="https://open.spotify.com/intl-pt/album/1fT5c6Rhyh0Rvwk20ueV3F?si=UHlJZbptRjC3pZHBRtrmbg" target="_blank" class="albuns-card col-6">
                    <div class="albuns-card-img">
                        <img src="~/img/Ciclos & Dramas (Lado B).webp" alt="">
                    </div>
                    <div class="albuns-description">
                        <p>Ciclos & Dramas (Lado B)</p>
                        <p>Último lançamento • EP</p>
                    </div>
                </a>


                <a href="https://open.spotify.com/intl-pt/album/32FSBnr6JOdE5zC7Fi6cHs?si=wNO2hj2MRrCb1HXEA-_NNQ" target="_blank" class="albuns-card col-6">
                    <div class="albuns-card-img">
                        <img src="~/img/PØNTØ FRACØ.webp" alt="">
                    </div>
                    <div class="albuns-description">
                        <p>PontØ FracØ</p>
                        <p>2023 • Single</p>
                    </div>
                </a>


                <a href="https://open.spotify.com/intl-pt/artist/3TFDfV2km0JB0KRWyEXW5a?si=hWVImD1AQVKgMHGjouUu6w" target="_blank" class="albuns-card col-6">
                    <div class="albuns-card-img">
                        <img src="~/img/Ciclos & Dramas (Lado A).webp" alt="">
                    </div>
                    <div class="albuns-description">
                        <p>Ciclos & Dramas (Lado B)</p>
                        <p>2024 • EP</p>
                    </div>
                </a>

                <a href="https://open.spotify.com/intl-pt/artist/3TFDfV2km0JB0KRWyEXW5a?si=hWVImD1AQVKgMHGjouUu6w" target="_blank" class="albuns-card col-6">
                    <div class="albuns-card-img">
                        <img src="~/img/PET.webp" alt="">
                    </div>
                    <div class="albuns-description">
                        <p>PET</p>
                        <p>2023 • Single</p>
                    </div>
                </a>

                <a href="https://open.spotify.com/intl-pt/artist/3TFDfV2km0JB0KRWyEXW5a?si=hWVImD1AQVKgMHGjouUu6w" target="_blank" class="albuns-card col-6">
                    <div class="albuns-card-img">
                        <img src="~/img/This Is ØPIO.webp" alt="">
                    </div>
                    <div class="albuns-description">
                        <p>This Is ØPIO</p>
                        <p>De Takashi</p>
                    </div>
                </a>
                   

                </div>
                @**@

                @* Spotify embed *@
            <div class="row">
                <iframe style="border-radius:16px"
                        src="https://open.spotify.com/embed/artist/3TFDfV2km0JB0KRWyEXW5a?utm_source=generator&theme=0" width="100" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                        loading="lazy">
                </iframe>
            </div>
           

            @* Youtube embed *@
            <iframe width="560" height="315" src="https://www.youtube.com/embed/CNgEvouas1s?si=quhlUDtyc09HNpoc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


            
        </div>
    </section>


    <section id="Form">
        <div class="container-fluid ">
            <div class="row text-center">
                <h1>Entre em contato</h1>
            </div>

            <div class="row formArea justify-content-center align-center">
                <form id="contactForm" class="mx-auto">
                    <div class="mb-4 inputForm ">
                        <label for="emailInput" class="form-label">Email</label>
                        <input type="email" class="form-control" id="emailInput" placeholder="Fãdaopionumero1@exemplo.com" required>
                    </div>
                    <div class="mb-4 inputForm">
                        <label for="nameInput" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="nameInput" placeholder="Nome">
                    </div>
                    <div class="btnForm text-center">
                        <button type="submit" class="btn" onclick="sendEmail()">Enviar</button>
                    </div>
                </form>
                
            </div>
                
         </div>
    </section>

</div>

@* testing *@
<div class="container-fluid full-height flex-column backgroundBody justify-content-center align-items-center">
    <img src="~/img/backgroundBody.webp" class="img-fluid-fit" alt="background-image" loading="lazy">
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

