@{
    ViewData["Title"] = "Home Page";
}


<div class="overlay">
<section id="Home">
    <div class="container-fluid">
        <div class="row">
            <div class="col columnVideo">
                <video loop autoplay muted> <source src="~/video/teste.mp4" type="video/mp4"> </video>
            </div>
        </div>

    </div>
</section>


<section id="Team">
    <div class="container-fluid">
            <div class="swiper tranding-slider">
                <div class="swiper-wrapper">
                    <!-- Slide-start -->
                    <div class="swiper-slide tranding-slide">
                        <div class="tranding-slide-img">
                            <img src="~/img/felipe.jpg" id="felipe" alt="Felipe">
                        </div>
                    </div>
                    <!-- Slide-end -->
                    <!-- Slide-start -->
                    <div class="swiper-slide tranding-slide">
                        <div class="tranding-slide-img">
                        <img src="~/img/scale_1200.jpg" id="gato" alt="Gato">
                        </div>
                    </div>
                    <!-- Slide-end -->
                    <!-- Slide-start -->
                    <div class="swiper-slide tranding-slide">
                        <div class="tranding-slide-img">
                        <img src="~/img/enzo.jpg" id="enzo" alt="Enzo">
                        </div>
                    </div>
                    <!-- Slide-end -->
                    <!-- Slide-start -->
                    <div class="swiper-slide tranding-slide">
                        <div class="tranding-slide-img">
                            <img src="~/img/ygor.jpg" id="ygor" alt="Ygor">
                        </div>
                    </div>
                    <!-- Slide-end -->
                    <!-- Slide-start -->
                    <div class="swiper-slide tranding-slide">
                        <div class="tranding-slide-img">
                            <img src="~/img/gustavo.jpg" id="gustavo" alt="Gustavo">
                        </div>
                    </div>
                    <!-- Slide-end -->

                </div>

                <div class="swiper-pagination"></div>
            </div>

                <div class="aboutMember">
                    <h2></h2>
                    <p></p>
                    <a href="" target="_blank">Conheça-me <span><i class="fa-solid fa-arrow-up-right-from-square"></i></span></a>
                </div>
    </div>


</section>

    <section id="Story">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <img src="~/img/teste1.jpg" class="imgStory" alt="">
                    </div>
                </div>
                <div class="row">
                    <h1>Ópio<br/> Story</h1>
                </div>
            </div>
    </section>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1>Alô?</h1>
</div>

</div>