@{
    ViewData["Title"] = "Home Page";
}

<section id="Home">
    <div class="container-fluid">
        <div class="row">
            <div class="col columnVideo">
                <video loop autoplay muted > <source src="~/video/øpio - Ditados Mentem.mp4" type="video/mp4"> </video>
            </div>

        </div>

    </div>
</section>

<section id="team">
    <div class="container-fluid">
        <div class="row">
            <div class="col align-content-center">
                <h1>NOSSA EQUIPE</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- Carousel -->
                <div class="carousel slide ride" id="carouselOurTeam" data-bs-ride="carousel" data-bs-interval="3000">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselOurTeam" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselOurTeam" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselOurTeam" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner"> 
                        <div class="carousel-item carousel-image active bg-img-1">
                            @* <img class="d-block w-100 " src="~/img/nirvanalogo.png" /> *@
                        </div>

                        <div class="carousel-item carousel-image bg-img-2">
                            @* <img class="d-block w-100 " src="~/img/teste.jpg" /> *@
                        </div>

                        <div class="carousel-item carousel-image bg-img-3">
                            @* <img class="d-block w-100 " src="~/img/teste2.jpg" /> *@
                        </div>
                    </div>


                    <!-- Carousel Controls-->
                    <!--<button class="carousel-control-prev" type="button" data-bs-target="#carouselOurTeam" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselOurTeam" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>-->


                </div>

            </div>
        </div>
    </div>
</section>


<section></section>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1>Alô?</h1>
</div>


